/* Copyrighted by 0neGuyDev */

:root {
	--artsize: 265px;
	--topinset: 30px;
	--uiheight: 60px;
	--bottominset: 100px;
	--shadowamount: 40px;
	--activecolor: #a29bfe;
	--inactivecolor: #dfe6e9;
	--artbg: url("backgrounds/1.png");
}

body {
	margin: 0px;
	font-weight: 700;
	font-family: SFPro;
}

#artDiv {
	cursor:default;
	margin: 0 auto;
	overflow: auto;
	user-select: none;
	position: relative;
	border-radius: 20px;
	width: var(--artsize);
	height: var(--artsize);
	margin-top: var(--topinset);
	margin-bottom: var(--bottominset);
	transition: 0.3s transform ease-in-out;
}

#artDiv:active {
	transform:scale(0.99);
}

#art {
	user-select:none;
	width: var(--artsize);
	-ms-user-select: none;
	-moz-user-select: none;
	height: var(--artsize);
	background: var(--artbg);
	background-size: contain;
	-webkit-user-select: none;
}

#artShadow {
	z-index: -1;
	opacity: 0.8;
	position: absolute;
	transform: scale(0.9);
	width: var(--artsize);
	height: var(--artsize);
	background: var(--artbg);
	background-size: contain;
	top:calc(var(--topinset) + 30px);
	filter: blur(var(--shadowamount));
	margin-left: calc(50vw - var(--artsize)/2);
}

.input, .button {
	width: 80vw;
	height: 60px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.input {
	transition: 0.3s border ease-in-out;
	border: 5px solid var(--inactivecolor);
}

.button {
	cursor:pointer;
	user-select:none;
	text-align: center;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	line-height: var(--uiheight);
	background: var(--inactivecolor);
	transition: 0.3s background ease-in-out;
}

.button:active {
	background: var(--activecolor);
}

.button.bottom {
	bottom: 20px;
	position: absolute;
	left: calc(50vw - 80vw / 2);
}

.input input {
	width: 90%;
	border:none;
	height: 100%;
	outline: none;
	font-size: 20px;
	background: none;
	padding-left: 5%;
	font-weight: 700;
	font-family: SFPro;
}

.input:focus-within {
	border: 5px solid var(--activecolor);
}

.copyright {
	width: 90vw;
	margin: 0 auto;
	font-size: 10px;
	margin-top: 150px;
	text-align: center;
	margin-bottom: 20px;
	font-family: SFMono;
}

#bigTitle, #subTitle, #subText, #appleLogo {
	color: white;
	position: absolute;
}

#bigTitle {
	top: 55px;
	left: 25px;
	font-size: 40px;
	position: absolute;
}

#subTitle {
	top:95px;
	left: 25px;
	font-size: 40px;
	font-weight: 300;
}

#subText {
	top: 230px;
	left: 25px;
	font-size: 12px;
	font-weight: 500;
}

#appleLogo {
	top: 27px;
	left: 25px;
	width: 65px;
	height: 25px;
	filter:invert(1);
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(aplMusic.png);
}

#modal {
	z-index: 10;
	top: 110vh;
	width: 100vw;
	height: 95vh;
	background: white;
	position: fixed;
	transform: scale(0.97);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px -15px 20px rgba(0,0,0,0.05);
	transition: 0.3s top ease-in-out, 0.4s transform ease-in-out;
}

#modal[active] {
	top: 5%;
	transform: scale(1.0);
}

#darkener {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	position: fixed;
	background: none;
	pointer-events: none;
	transition: 0.3s background ease-in-out;
}

#modal[active] + #darkener {
	pointer-events: auto;
	background: rgba(0,0,0,0.8);
}

#modal .text {
	margin: 0 auto;
	width: 80vw;
	margin-top: 50px;
}