/* Copyrighted by 0neGuyDev */

:root {
	--artsize: 265px;
	--topinset: 30px;
	--uiheight: 60px;
	--bottominset: 100px;
	--shadowamount: 40px;
	--activecolor: #a29bfe;
	--inactivecolor: #dfe6e9;
	--artbg: url("backgrounds/1.png");
}

body {
	margin: 0px;
	font-weight: 700;
	font-family: SFPro;
}

#artDiv {
	cursor:default;
	margin: 0 auto;
	overflow: auto;
	position: relative;
	border-radius: 20px;
	width: var(--artsize);
	-ms-user-select: none;
	height: var(--artsize);
	-moz-user-select: none;
	-webkit-user-select: none;
	margin-top: var(--topinset);
	margin-bottom: var(--bottominset);
	transition: 0.3s transform ease-in-out;
}

#artDiv:active {
	transform:scale(0.99);
}

#art {
	width: var(--artsize);
	height: var(--artsize);
	background: var(--artbg);
	background-size: contain;
}

#artShadow {
	z-index: -1;
	opacity: 0.8;
	position: absolute;
	transform: scale(0.9);
	width: var(--artsize);
	height: var(--artsize);
	background: var(--artbg);
	background-size: contain;
	top:calc(var(--topinset) + 30px);
	filter: blur(var(--shadowamount));
	margin-left: calc(50vw - var(--artsize)/2);
}

.input, .button {
	width: 80vw;
	height: 60px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.input {
	transition: 0.3s border ease-in-out;
	border: 5px solid var(--inactivecolor);
}

.button {
	text-align: center;
	line-height: var(--uiheight);
	background: var(--inactivecolor);
	transition: 0.3s background ease-in-out;
}

.button:active {
	background: var(--activecolor);
}

.input input {
	width: 90%;
	border:none;
	height: 100%;
	outline: none;
	font-size: 20px;
	background: none;
	padding-left: 5%;
	font-weight: 700;
	font-family: SFPro;
}

.input:focus-within {
	border: 5px solid var(--activecolor);
}

.copyright {
	width: 90vw;
	margin: 0 auto;
	font-size: 10px;
	margin-top: 150px;
	text-align: center;
	margin-bottom: 20px;
	font-family: SFMono;
}

#bigTitle, #subTitle, #subText, #appleLogo {
	color: white;
	position: absolute;
}

#bigTitle {
	top: 55px;
	left: 25px;
	font-size: 40px;
	position: absolute;
}

#subTitle {
	top:92px;
	left: 25px;
	font-size: 40px;
	font-weight: 300;
}

#subText {
	top: 232px;
	left: 25px;
	font-size: 12px;
	font-weight: 500;
}

#appleLogo {
	top: 27px;
	left: 25px;
	width: 65px;
	height: 25px;
	filter:invert(1);
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(aplMusic.png);
}