/* Copyrighted by 0neGuyDev */

@font-face {
	font-weight: 900;
	font-style: normal;
	font-family: 'SFMono';
	src: url('SFMono/Heavy.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-style: italic;
	font-family: 'SFMono';
	src: url('SFMono/HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-style: normal;
	font-family: 'SFMono';
	src: url('SFMono/Bold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-style: italic;
	font-family: 'SFMono';
	src: url('SFMono/BoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'SFMono';
	src: url('SFMono/SemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-style: italic;
	font-family: 'SFMono';
	src: url('SFMono/SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'SFMono';
	src: url('SFMono/Medium.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-style: italic;
	font-family: 'SFMono';
	src: url('SFMono/MediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: 'SFMono';
	src: url('SFMono/Regular.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-style: italic;
	font-family: 'SFMono';
	src: url('SFMono/RegularItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'SFMono';
	src: url('SFMono/Light.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-style: italic;
	font-family: 'SFMono';
	src: url('SFMono/LightItalic.ttf') format('truetype');
}