/* Copyrighted by 0neGuyDev */

:root {
	--sizefactor: 1;
	--topinset: 50px;
	--uiheight: 60px;
	--textcolor: black;
	--bottominset: 100px;
	--shadowamount: 40px;
	--activecolor: #a29bfe;
	--inactivecolor: #dfe6e9;
	--artbg: url("backgrounds/1.png");
	--artsize: calc(265px * var(--sizefactor));
}

@media (prefers-color-scheme: dark) {
	:root {
		--textcolor: white;
	}
	
	#generating #icon {
		filter: invert(1)
	}
}

html {
	touch-action: manipulation;
}

body {
	margin: 0px;
	font-weight: 700;
	font-family: SFPro;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar, #artDiv::-webkit-scrollbar { 
	display: none; 
}

#artDiv {
	cursor:default;
	margin: 0 auto;
	overflow: auto;
	user-select: none;
	position: relative;
	border-radius: 20px;
	width: var(--artsize);
	height: var(--artsize);
	margin-top: var(--topinset);
	margin-bottom: var(--bottominset);
	transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
}

#artDiv:active {
	transform:scale(0.99) !important;
}

#art {
	user-select:none;
	width: var(--artsize);
	-ms-user-select: none;
	-moz-user-select: none;
	height: var(--artsize);
	background: var(--artbg);
	background-size: contain;
	-webkit-user-select: none;
	transition: 0.3s background ease-in-out;
}

#artShadow {
	z-index: -1;
	opacity: 0.8;
	position: absolute;
	transform: scale(0.9);
	width: var(--artsize);
	height: var(--artsize);
	background: var(--artbg);
	background-size: contain;
	top:calc(var(--topinset) + 30px);
	filter: blur(var(--shadowamount));
	margin-left: calc(50vw - var(--artsize)/2);
	transition: 0.3s filter ease-in-out, 0.3s opacity ease-in-out;
}

.input, .button, .box {
	width: 80vw;
	height: 60px;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 1000px;
	background: white;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 5px solid var(--inactivecolor);
	transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out, 0.3s border ease-in-out, 0.3s box-shadow ease-in-out, 0.3s background ease-in-out;
}

.box {
	height: 40vw;
	display: flex;
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
	user-select:none;
	max-height: 300px;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	justify-content: space-evenly;
	scroll-snap-type: y mandatory;
}

.box .image {
	margin: 5vw;
	width: 30vw;
	height: 30vw;
	user-select:none;
	border-radius: 5%;
	-ms-user-select: none;
	-moz-user-select: none;
	background-size: contain;
	-webkit-user-select: none;
	scroll-snap-align: center;
	background-repeat: no-repeat;
	max-width: calc(300px / 2 + 19px);
	max-height: calc(300px / 2 + 19px);
	background-color: var(--inactivecolor);
	transition: 0.3s transform ease-in-out;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.box .image:active {
	transform: scale(0.90);
}

.button {
	cursor:pointer;
	user-select:none;
	text-align: center;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	line-height: var(--uiheight);
	background: var(--inactivecolor);
}

.button:active {
	transform: scale(0.95);
	background: var(--activecolor);
	border: 5px solid var(--activecolor);
	box-shadow: 0px 0px 5px var(--activecolor);
}

.button.bottom {
	bottom: 20px;
	position: fixed;
	left: calc(50vw - 80vw / 2);
}

.input input {
	width: 90%;
	border:none;
	height: 100%;
	padding: 0px;
	outline: none;
	font-size: 20px;
	background: none;
	font-weight: 700;
	padding-left: 25px;
	font-family: SFPro;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: 0.1s left ease-in-out;
}

.input:focus-within {
	border: 5px solid var(--activecolor);
	box-shadow: 0px 0px 5px var(--activecolor);
}

#bigTitle, #subTitle, #subText, #appleLogo {
	color: white;
	position: absolute;
}

#bigTitle {
	position: absolute;
	top: calc(55px * var(--sizefactor));
	left: calc(25px * var(--sizefactor));
	font-size: calc(40px * var(--sizefactor));
}

#subTitle {
	font-weight: 300;
	top:calc(95px * var(--sizefactor));
	left: calc(25px * var(--sizefactor));
	font-size: calc(40px * var(--sizefactor));
}

#bigTitle, #subTitle, #subText {
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#subText {
	font-weight: 500;
	top: calc(230px * var(--sizefactor));
	left: calc(25px * var(--sizefactor));
	font-size: calc(12px * var(--sizefactor));
}

#appleLogo {
	filter:invert(1);
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(aplMusic.png);
	top: calc(27px * var(--sizefactor));
	left: calc(25px * var(--sizefactor));
	width: calc(65px * var(--sizefactor));
	height: calc(25px * var(--sizefactor));
}

#art img {
	width: 100%;
	height: 100%;
	position: absolute;
}

canvas {
	display: none;
}

#drag {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	position: fixed;
	-webkit-app-region: drag;
}

#generating {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.0;
	position: fixed;
	margin-top: 40vh;
	pointer-events: none;
	transform: scale(0.9);
	transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
}

#generating #icon {
	width: 124px;
	height: 124px;
	margin: 0 auto;
	background: url("icons/image.svg");
	transition: 0.5s transform ease-in-out, 0.3s background ease-in-out;
}

#generating #text {
	text-align: center;
	color: var(--textcolor);
	transition: 0.3s color ease-in-out;
}